* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: FiraCode Nerd Font Propo;
  font-size: 12px;
  color: #d8dee9;
  background-color: #2e3440;
}

#window,
#workspaces {
  margin-left: 8px;
}

#workspaces button {
  all: initial;
  padding: 2px 6px;
  margin-right: 4px;
}

#custom-weather,
#cpu,
#power-profiles-daemon,
#battery,
#tray,
#network,
#bluetooth,
#pulseaudio,
#clock {
  min-width: 12px;
  margin-right: 14px;
}

tooltip {
  padding: 2px;
}

tooltip label {
  padding: 2px;
}
